@model DataDbC

<div>
    <a type="button" href="@Url.Action("CreateCategory","Home")">Создать новую категорию</a>
    <a type="button" href="@Url.Action("CreateModel","Home")">Создать новый элемент</a>
    <div class="row">
        <!--Категории-->
        <div>
            @{ foreach (var category in Model.CategoryM)
                {
                    <ul>
                        <li><a href="@Url.Action("GetFiltered","Home",new { parent = category})">@category.Name</a></li>
                    </ul>
                }
            }
        </div>
        <!--Элементы-->
        <div>
            <table class="table-bordered">
                <tr>
                    <td>Название</td>
                    <td>Производитель</td>
                    <td>Цена</td>
                </tr>
                @foreach (var phone in Model.PhoneM)
                {
                    <tr>
                        <td>@phone.Name</td>
                        <td>@phone.Company</td>
                        <td>@phone.Price</td>
                        <td><a type="button" href="@Url.Action("EditModel","Home",new {id = phone.Id })">Edit</a></td>
                        <td><a type="button" href="@Url.Action("DeleteModel","Home",new {id = phone.Id })">Delete</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>